<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>

        <div class="f-info-brand">& copy Hotel service</div>
       
        <div class="f-info-link">
            <a href="">Term & Condition</a>
            <a href="">previcy</a>
        </div>
    </div>
   
</footer>