<% layout('layouts/boilerplate') -%> 

<div class="row">
    <div class="col-6 offset-2">
        <h1 class="col-6 offset-2">SignUp Form</h1>
       <form action="/signup" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input class="form-control" id="username" type="text" name="username" placeholder="Enter Aria" required>
            <div class="invalid-feedback">Please enter username</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input class="form-control" id="email" type="email" name="email" placeholder="Enter Aria" required>
            <div class="invalid-feedback">Please enter email</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" id="password" type="password" name="password" placeholder="Enter Aria" required>
            <div class="invalid-feedback">Please enter password</div>
        </div>
        <button class="btn btn-success">SignUp</button>
       </form>
    </div>
</div>
